*{
    /*border: 1px solid red;*/
    margin: 0;
}

:root{
    --cool-blue-green: rgba(115, 200, 229, 1);
    --charcoal:  rgb(48, 48, 48);
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    color: var(--cool-blue-green);
    background-color: var(--charcoal);
    height: 80px;
    width: 100%;
}

header h1{
    color: var(--charcoal);
    font-size: 3.5em;
    background-color: var(--cool-blue-green);
    width: 37%;
    text-align: right;
    margin-top: 10px;
    padding-right: 15px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    margin-top: -30px;
    
}

nav a{
    color: var(--cool-blue-green);
    text-decoration: none;
    align-self: flex-start;
    margin-right: 10px;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 1.1em;
    border-bottom: 2px solid var(--cool-blue-green);
}

.hero-section{
    object-position: center top;
    background-color: var(--cool-blue-green);   
    display: flex;
}

img{
    height: 200px;
    width: 100%;
}

.caption{
    width: 50%;
    
}

.caption h2{
    height: 40px;
}


