*{
    box-sizing: border-box;
}

:root{
    --cool-blue-green: rgba(115, 200, 229, 1);
    --charcoal:  rgb(75, 88, 108);
    --black: rgb(0, 0, 0);
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-bottom: 100px;
}

header{
    color: var(--cool-blue-green);
    background-color: var(--charcoal);
    height: 100px;
    width: 100%;
}

header h1{
    color: var(--charcoal);
    font-size: 4.5em;
    padding: 2px 10px 2px 50px;
    background-color: var(--cool-blue-green);
    text-align: right;
    border-radius: 2px;
}

.hero-section h2 {
    color: var(--charcoal);
}

.top-container,
.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-container{
    align-items: center;
}

.top-item > img{
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    align-items: center;
    border: solid 3px var(--charcoal);
}

.nav-container{  
    margin-right: 50px; 
    justify-content: end;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-item{
    padding: 10px 15px;
    color: var(--cool-blue-green);
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 9px;
    background-image: linear-gradient(var(--cool-blue-green), var(--cool-blue-green));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 12%;
    transition: 0.25s;
}

.nav-item:hover{
    color: var(--charcoal);
    background-size: 100% 100%;
}

.hero-section{
    object-position: center top;
    width: 100%;
}



img{
    height: 201px;
    width: 100%;
    border: 5px solid var(--cool-blue-green);
    border-radius: 3px;
}

.caption{
    background-color: var(--cool-blue-green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 50px;
    margin: -70px 70px 0 0;
    float: right;
    border: .15px solid var(--charcoal);
    border-radius: 2px;
}
/* My hero image is lighter than the mockup's hero image,
so I put a small border around the caption for 
ease of vision. */

.caption h2{
    font-size: 1.5em;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.project-container > div{
    flex-basis: 75%;
}

.heading{
    flex-basis: 20%;
    padding-right: 20px;
    border-right: 3px solid var(--charcoal);
    text-align: right;
    color: var(--charcoal);
    font-size: 5em;   
}

.about-text > p {
    line-height: 2;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    display: flex;
    align-items: flex-end;
    height: 150px;
    flex-basis: 49%;
    transition: all 0.3s;
    background-size: 100%;
    padding: 0 0 20px 0;
    margin: .5%;
    border: 4px solid var(--cool-blue-green);
    border-radius: 3px;
    opacity: 0.8;
    transition: .8s; 
}

.project-caption{
    background-color: var(--cool-blue-green);
    color: var(--black);
    padding: 8px 10px;
    border-radius: 3px;
}

.project-caption h4{
    font-size: 1.5em;
    text-decoration: none;
    padding-bottom: 10px;
}

.project-item:hover {
    opacity: 1;
    transition: 0.5s;
}

a:link{
  text-decoration: none!important;
}

#big-project{
    background-image: url(bigimage.jpg);
    height: 400px;
    flex-basis: 100%;
}

#quiz-game{
    background-image: url(code1.jpg);
}

#password-generator{
    background-image: url(code2.jpg);
}

#sabre-inn{
    background-image: url(code3.jpg);
}

#calculator{
    background-image: url(code4.jpg);
}

.bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-container{
    justify-content: space-around;
    align-items: center;
    flex-basis: 75%;
}

.contact-item{
    color: var(--charcoal);
    margin: 25px;
    padding: 0 15px;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 2;
    background-image: linear-gradient(var(--charcoal), 
    var(--charcoal));
    background-repeat: no-repeat;
    background-size: 100% 12%;
    background-position: bottom;
    transition: 0.25s;
}

.contact-item:hover{
    background-size: 100% 100%;
    color: var(--cool-blue-green);
}

@media  screen and (max-width: 992px) {
    .top-container h1{
        font-size: 2.5em;
        padding: 5px;
    }

    .nav-item{
        font-size: 1.25em;
    }

    .caption{
        width: 30%;
    }

    .caption h2{
        font-size: 1.8em;
    }

    .heading{
        font-size: 3em;
    }

    .contact-item{
        margin: 0;
        padding: 0;
        font-weight: 400;
        background-size: 100% 0;
        border-bottom: 4px solid var(--charcoal);
    }
}


@media  screen and (max-width: 768px) {
    .top-container{
        justify-content: center;
        padding: 15px 0 115px 9px;
    }

    .top-container h1{
        width: 100%;
        text-align: center;
        font-size: 3.5em !important;
        line-height: 100%;
    }

    .nav-container{
        margin: 0 0 0 9px;;
        padding-bottom: 20px;
        justify-content: center;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project-container > h2,
    .project-container > div,
    .project-item{
        flex-basis: 100%;
    }

    .heading {
        border-right: none;
        border-bottom: 4px solid var(--charcoal);
        text-align: start;
        font-size: 3em;
        padding: 10px 0;
    }

    .about-text{
        padding-top: 15px;
    }

    .project-list{
        margin-top: 15px;
    }

    #big-project{
        height: 150px;
    }

    img{
        height: 125px;
    }

    .caption{
        float: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-container{
        display: block;
    }

    .bottom-container > nav{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }

    .contact-item {
        border-bottom: 4px solid var(--charcoal);
    }

    .bottom-container > h2{
        width: 100%;
    }
}