*{
    /* border: 1px solid red; */
    margin: 0;
}

:root{
    --cool-blue-green: rgba(115, 200, 229, 1);
    --charcoal:  rgb(71, 70, 70);
}

body{
    font-family: "Open Sans", sans-serif;
    
}

header{
    color: var(--cool-blue-green);
    background-color: var(--charcoal);
    height: 100px;
    width: 100%;
}

header h1{
    color: var(--charcoal);
    font-size: 3.5em;
    padding: 2px 10px 2px 50px;
    background-color: var(--cool-blue-green);
    text-align: right;
    border-radius: 2px;
}

.hero-section h2 {
    color: var(--charcoal);
}

.top-container,
.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.top-container{
    align-items: center;
}

.nav-container{  
    margin-right: 50px; 
}

.nav-item{
    border-bottom: 2px solid var(--cool-blue-green);
    padding: 0 15px;
    color: var(--cool-blue-green);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    margin-right: 8px;
}

.hero-section{
    object-position: center top;
    z-index: -1;
    position: absolute;
    width: 100%;
}

img{
    height: 201px;
    width: 100%;
}

.caption{
    background-color: var(--cool-blue-green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 50px;
    margin: -70px 70px 0 0;
    float: right;
    z-index: 2;
    border: .15px solid var(--charcoal);
    border-radius: 2px;
}
/* My hero image is lighter than the mockup's hero image,
so I put a small border around the caption for 
ease of vision. */

.caption h2{
    font-size: 1.5em;
}

main{
    display: flex;
    

}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 220px;
}

.project-container-left,
.project-container-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.project-container-left{
    flex: 1 1 20%;
    text-align: right;
    font-size: 3.5em;
    padding-left: 3%;
    color: var(--charcoal);
}

.project-container-right{
    flex: 4 1 60%;
    margin-left: 3%;
    margin-right: 3%;
    flex-wrap: wrap;
    
    
}

.project-item p{
    font-size: .85em;
    margin: 0 5%
}

.project-item-left h3{ 
    padding: 2% 5% 2% 0;
    border-right: 3px solid var(--charcoal);
    
}

.big-project{
   width: 98%;
   
}

.project-caption{
    background-color: var(--cool-blue-green);
    width: 100px;
    height: 50px;
    float: left;
    margin-top: -100px;
    z-index: 1;
}

.small-project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    
}

.small-project-item{
    width: 48%;
}

.small-project-item img{
    z-index: -1;
}

.bottom-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}